:root {
  --typography-spacing-vertical: 1rem;
}

.indented {
  padding-left: 20%;
  padding-right: 20%;
}

h1, h2 {
  --typography-spacing-vertical: 1.5rem;
  margin-bottom: 0.7rem;
}


h2 code {
  font-size: inherit;
}

code {
  line-height: 1.5;
  --code-color: #c4c4b8;
}

code em { /*comment*/
  color: #627481;
}

code s { /*object*/
  color: #a282c5;
  text-decoration: none;
}

[data-theme=dark] {
  --code-value-color: #ffd600;
}

@media (min-width: 1200px) {
  body > header,
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 3);
  }
}

article {
  padding-top: 30px;
}

article details {
  border-bottom: none;
  padding-bottom: 0;
}

article details summary::after {
  display: none;
}

article details summary {
  color: var(--primary);
  line-height: inherit;
  border-bottom: none;
  text-decoration: underline;
}
