
.indented {
  padding-left: 20%;
  padding-right: 20%;
}

h1, h2 {
  margin-bottom: 1.2rem
}

code {
  line-height: 1.5;
  --code-color: #c2c28c;
}

code em { /*comment*/
  color: #627481;
}

code s { /*object*/
  color: #a282c5;
  text-decoration: none;
}

[data-theme=dark] {
  --code-value-color: #ffd600;
}

@media (min-width: 1200px) {
  body > header,
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 3);
  }
}

article details {
  margin-top: 2.625rem;
  border-bottom: none;
  padding-bottom: 0;
}

article details summary::after {
  display: none;
}

article details summary {
  line-height: inherit;
  border-bottom: none;
  text-decoration: underline;
}
